.rating {
    display: flex;
  }
  
  .rating label {
    font-size: 30px;
    /* color: #f8ce0b; */
    /* color: #ccc; */
    /* cursor: pointer; */
  }
  
  .rating input[type="checkbox"] {
    display: none;
  }
  
  .rating input[type="checkbox"]:checked ~ label{
    color: #f8ce0b;
    /* color: #ccc; */
  }
  
  ngb-rating {
    color: #FFC107;
    font-size: 40px;
}