<div class="container px-4 px-lg-5">
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Join Us on Instagram</h4>
                    <p class="card-text">
                        "Follow me on Instagram for daily updates and behind-the-scenes peeks into my life. 
                        Stay connected and see what I'm up to!"
                        <br>
                        Click Below To Reach Us!
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.instagram.com/_mak_kamil_/">Join On Instagram</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Join Us on LinkedIn</h4>
                    <p class="card-text">
                        "Let's connect on LinkedIn to stay updated on my professional journey and build a professional network.
                         Connect with me and let's grow together!"
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.linkedin.com/in/kamil-makwana-a483b1158">Join On LinkedIn</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Join Us on Discord</h4>
                    <p class="card-text">
                        "Join my Discord server to connect with like-minded people, share ideas, and collaborate on projects.
                         We offer a friendly and inclusive community where everyone is welcome. 
                         Come join us and let's grow together.!"
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://discord.gg/7kfU7NyT">Join On Discord</a></div>
            </div>
        </div>
    </div>
</div>