<button type="button" Name="button" (click)="getinforecclass1()">Employee1</button>
<ul class="list-group">
    <li *ngFor="let info of InfoReceived1" class="list-group-item">{{info}}</li>
</ul>
<button type="button" Name="button" (click)="getinforecclass2()">Employee2</button>
<ul class="list-group">
    <li *ngFor="let info of InfoReceived2" class="list-group-item">{{info}}</li>
</ul>
<button type="button" Name="button" (click)="getinforecclass3()">Employee3</button>
<ul class="list-group">
    <li *ngFor="let info of InfoReceived3" class="list-group-item">{{info}}</li>
</ul>