<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/Kamil.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Kamil's Blog</h1>
            <p>
                A personal blog is a platform to share your thoughts, experiences, and passions with the world. 
                It's a place to express yourself, connect with like-minded individuals, 
                and document your journey through life. Whether you're writing for yourself or for others,
                 a personal blog is a powerful way to make your mark on the world.
            </p>
            <a class="btn btn-primary" href="#" routerLink="/login" routerLinkActive="active">Click To Sign Up</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body" style="font-size: 25px;"><p class="text-white m-0">Join Us On Given Below Social Media Platform To Know More!</p></div>
    </div>
</div>